Source: zero-fp
Section: x11
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Daniel Duran Vecino <daduve@gmail.com>
Build-Depends: llxsrchelper,debhelper (>= 10), zero-dev, inkscape(>=0.47)
Standards-Version: 4.1.2

Package: zero-fp-administrativo
Architecture: all
Depends: zero-center,epi-gtk
Description: Fp Administrative
	Adding shortcut in zero-center to install some programs for Administrative Fp

Package: zero-fp-informatica
Architecture: all
Depends: zero-center,epi-gtk
Description: Fp Computer programs
        Adding shortcut in zero-center to install some programs for Computing Fp

Package: zero-fp-electronica
Architecture: all
Depends: zero-center,epi-gtk
Description: Fp Electronic programs
        Adding shortcut in zero-center to install some programs for Electronic Fp
